name: release-and-deploy
on:
  push:
    tags: ["v*"]

jobs:
  # --- Deploy to Koyeb --- server
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install and configure the Koyeb CLI
        uses: koyeb-community/koyeb-actions@v2
        with:
          api_token: "${{ secrets.KOYEB_API_TOKEN }}"
      - name: Create OpenAI API key secret
        uses: koyeb/action-git-deploy/secret@v1
        with:
          secret-name: OPENAI_API_KEY
          secret-value: "${{ secrets.OPENAI_API_KEY }}"
      - name: Create Build ID secret
        uses: koyeb/action-git-deploy/secret@v1
        with:
          secret-name: BUILD_ID
          secret-value: "${{ secrets.BUILD_ID }}"
      - name: Create SQL secret
        uses: koyeb/action-git-deploy/secret@v1
        with:
          secret-name: DATABASE_URL
          secret-value: "${{ secrets.DATABASE_URL }}"
      - name: Deploy to Koyeb
        uses: koyeb/action-git-deploy@v1
        with:
          git-url: github.com/jh125486/gradebot
          git-branch: main
          git-builder: buildpack
          git-run-command: ./bin/gradebot server
          service-regions: was
          service-instance-type: free
          service-env: OPENAI_API_KEY=@OPENAI_API_KEY,BUILD_ID=@BUILD_ID,DATABASE_URL=@DATABASE_URL,R2_ENDPOINT=@R2_ENDPOINT,AWS_ACCESS_KEY_ID=@AWS_ACCESS_KEY_ID,AWS_SECRET_ACCESS_KEY=@AWS_SECRET_ACCESS_KEY
          service-ports: "8080:http"
          service-routes: "/:8080"
          app-name: gradebot
          service-name: gradebot-server
